/_build
/.bundle
/_includes/igraph-cversion
/_includes/igraph-rversion
/_includes/igraph-pyversion
/_includes/igraph-cversions
/_includes/igraph-rversions
/_includes/igraph-pyversions
/c/html
/c/pdf
/c/stamp
/python/api
/python/tutorial
/python/stamp
/r/html
/r/pdf
/r/stamp
/stamp
/vendor
/.jekyll-cache

