/_build
/_includes/igraph-cversion
/_includes/igraph-rversion
/_includes/igraph-pyversion
/c/doc
!/python/doc/index.html
/python/doc/api/*
/python/doc/tutorial/*
/python/doc/stamp
/r/doc
/stamp
/docs/stamp
/.jekyll-cache

