/_build
/.bundle
/_includes/igraph-cversion
/_includes/igraph-rversion
/_includes/igraph-pyversion
/_includes/igraph-cversions
/_includes/igraph-rversions
/_includes/igraph-pyversions
/c/doc
!/python/doc/index.html
/python/doc/api/*
/python/doc/tutorial/*
/python/doc/stamp
/r/doc
/stamp
/vendor
/docs/stamp
/.jekyll-cache

