---
layout: default
vmenu: true
doctype: html/
extrahead: |
    <link href="/css/manual.css" rel="stylesheet">
    <script async src="https://cse.google.com/cse.js?cx=003494361702844740117:dlnifinshhm"></script>
---

<div class="container search-box-container">
  <div class="row">
    <div class="col-md-12 d-flex flex-row align-items-middle">
      <div class="search-label">Search the manual:</div>
	  <div style="flex: 1; margin: -1em 0 -1em 0"><div class="gcse-search" data-personalizedAds="false"></div></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        {{ content }}
      </div>
    </div>
  </div>
</div>
