---
layout: default
mainheader: NEWS
lead: About igraph releases and other things
---

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary" 
           data-spy="affix">
        <ul class="nav bs-sidenav">
          {% for post in site.posts limit:10 %}
	    <li>
	      <a href="{{ post.url }}">
		{{ post.title }}
	      </a>
	    </li>
	    {% endfor %}
	    <li>
	      <a href="">&hellip;</a>
	    </li>
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="bs-docs-section">
                
        {{ content | biggerh1 | redir_docs }}

      </div>
    </div>
  </div>

</div>
