---
layout: default
extrahead: |
    <link href="/css/manual.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css">
    <script type="text/javascript">
    const macros = { "\\R": "\\textsf{R}", "\\code": "\\texttt"};
    function processMathHTML() {
        var l = document.getElementsByClassName('reqn');
        for (let e of l) { katex.render(e.textContent, e, { throwOnError: false, macros }); }
        return;
    }</script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" onload="processMathHTML();"></script>

vmenu: true
doctype: html/
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        {{ content }}
      </div>
    </div>
  </div>
</div>
