---
layout: default
mainheader: Get started with R igraph
lead: Install and start using the igraph R package
animated_header: true
---

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav id="bs-sidebar" class="bs-sidebar hidden-print affix" role="complementary"> 
        <ul class="nav bs-sidenav">
          <li class="nav-item">
            <a class="nav-link" href="#startr"><i class="fa fa-fw icon-rlogo"></i> Get started</a>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#rinstall">Installation</a></li>
              <li class="nav-item"><a class="nav-link" href="#rreq">Requirements</a></li>
              <li class="nav-item"><a class="nav-link" href="#rreqopt">Optional requirements</a></li>
              <li class="nav-item"><a class="nav-link" href="#rdoc1">Tutorials</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#docs"><i class="fa fa-fw fa-book"></i> Documentation</a>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#rmanual">R manual pages</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#downloads"><i class="fa fa-fw fa-download"></i> Downloads</a>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#rdown">Current release</a></li>
              <li class="nav-item"><a class="nav-link" href="#devdown">Development version</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#help"><i class="fa fa-fw fa-question"></i> Get help</a>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#discourse">igraph support forum</a></li>
              <li class="nav-item"><a class="nav-link" href="#so">Stack Overflow</a></li>
              <li class="nav-item"><a class="nav-link" href="#contributebugs">Report bugs</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contribute"><i class="fa fa-fw fa-plus"></i> Contribute</a>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="#contributecode">Contribute code</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-8">
      <div class="bs-docs-section">

        <div class="page-header">
          <h1><span id="startr" class="anchor">&nbsp;</span>
            Get started</h1>
        </div>

        <h3><span id="rinstall" class="anchor">&nbsp;</span>
           Installation</h3>
        <p>
          igraph is on CRAN and can be installed from within R:
        </p>
        <p>
        {% highlight r %}
## Download and install the package
install.packages("igraph")

## Load package
library(igraph)
{% endhighlight %}
        </p>

        <h3><span id="rreq" class="anchor">&nbsp;</span>Requirements</h3>
        <p>On Linux (and other Unix-like systems, but not on OSX),
          a C and a C++ compiler is needed, and also the tool
          <code>make</code>. On Debian and Ubuntu Linux the 
          <code>build-essential</code> package installs these.</p>

        <h3><span id="rreqopt" class="anchor">&nbsp;</span>
          Optional requirements</h3>

        <p>
          <ul>
            <li>On Linux (and other Unix-like systems, but not on OSX), 
              the <code>libxml2</code> library, including header files,
              is needed for the ability of reading GraphML files. On
              Ubuntu and Debian Linux the <code>lixml2</code> and
              <code>libxml2-dev</code> packages are needed.</li>
            <li>The {% include rbasepkg p="tcltk" %} R package is needed for
              {% include rfun f="tkplot" %} and 
              {% include rfun f="tkigraph" %} to work.</li>
            <li>The {% include rpkg p="rgl" %} R package is needed for
              {% include rfun f="rglplot" %} to work.</li>
            <li>The {% include rpkg p="ape" %} package is needed to
              plot nice dendrograms with 
              {% include rfun f="dendPlot" %}</li>
          </ul>
        </p>

        <h3><span id="rdoc1" class="anchor">&nbsp;</span>Tutorials</h3>

        <p>
          <ul>
            <li>The <a href="/r/doc/aaa-igraph-package.html">
              <code class="rman">igraph</code></a> manual page is a good place
              to start.</li>
<!--             <li>Some screenshots and examples are -->
<!--               <a href="">here.</a></li>           -->
            <li>Type in <code>demo(package="igraph")</code> 
              (or use <a href="https://igraph.org/r/doc/igraph_demo.html">igraphdemo()</a> if you have
              <span style="white-space:nowrap;">
                {% include rbasepkg p="tcltk" %})</span> to get a list of
              demos.</li>
          </ul>
        </p>

        <div class="page-header">
          <h1><span id="docs" class="anchor">&nbsp;</span>Documentation
          <small>&ndash; for version {% include igraph-rversion %}</small></h1>
        </div>

        <h3><span id="rmanual" class="anchor">&nbsp;</span>R manual pages</h3>
        <p>
          <ul class="icons-ul list-unstyled">
            <li><i class="icon-li icon-link"></i>
            <a href="/r/doc/">Browse online</a></li>
            <li><i class="icon-li icon-book"></i>
            <a href="/r/doc/igraph.pdf">PDF file</a></li>
          </ul>
        </p>

        <p>
          Note that this documentation is included in the R
          package. You can use <code>library(help="igraph")</code>
          or <code>help("igraph")</code> as a starting point.
        </p>

        <!-- <h3><span id="screenshots" class="anchor">&nbsp;</span> -->
        <!--   Screenshots and examples</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->
        <!-- <p> -->
        <!--   See also the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--       igraph wiki.</a> -->
        <!-- </p> -->

        <!-- <h3><span id="wiki" class="anchor">&nbsp;</span>Wiki</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->

        <div class="page-header">
          <h1><span id="downloads" class="anchor">&nbsp;</span>Downloads</h1>
        </div>

        <h3><span id="rdown" class="anchor">&nbsp;</span>
    Latest stable version
    &ndash; {% include igraph-rversion %}
    </h3>
        <p>The simplest way to install the igraph R package is typing
		<code>install.packages("igraph")</code> in your R session.</p>
		<p>If you want to download the package manually, the following link leads
		you to the page of the latest release on CRAN where you can pick the
		appropriate source or binary distribution yourself.</p>
          <ul class="icons-ul list-unstyled">
            <li><a href="https://cran.r-project.org/web/packages/igraph/index.html">CRAN release page for igraph</a></li>
          </ul>

        <h3><span id="devdown" class="anchor">&nbsp;</span>
          Development version</h3>
        <p>
          Clone (or fork) the <code>dev</code> branch from the
          <a href="https://github.com/igraph/rigraph">rigraph git
            repository on github.</a>
        </p>

        <div class="page-header">
          <h1><span id="help" class="anchor">&nbsp;</span>Get help</h1>
        </div>

        <h3><span id="discourse" class="anchor">&nbsp;</span>igraph support forum</h3>
        <p>
          Post your question on the
          <a href="https://igraph.discourse.group">igraph support forum</a>.
		  Make sure that you include a minimal reproducible
          example, complete with code and data.
        </p>

        <h3><span id="so" class="anchor">&nbsp;</span>Stack Overflow</h3>
        <p>
          Post specific igraph questions on
          <a href="http://stackoverflow.com/questions/tagged/igraph">
            Stack Overflow</a>. Make sure that you include the
          <code>igraph</code> tag and that you include a reproducible
          example, complete with code and data.
        </p>

        <h3><span id="contributebugs" class="anchor">&nbsp;</span>
          Report bugs</h3>

        <p>Report bugs or suggest new features or algorithms in the 
          <a href="https://github.com/igraph/rigraph/issues">
          GitHub issue tracker</a>.
        </p>
        
        <div class="page-header">
          <h1><span id="contribute" class="anchor">&nbsp;</span>Contribute</h1>
        </div>

        <p>
          Your contribution is more than welcome!
        </p>
        
        <!-- <h3><span id="contributewiki" class="anchor">&nbsp;</span> -->
        <!--   Improve the wiki</h3> -->
        
        <!-- <p>Add your work to the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--         igraph wiki</a>. -->
        <!-- </p> -->

        <h3><span id="contributecode" class="anchor">&nbsp;</span>
          Contribute code</h3>
          
        <p>Send a pull request on <a href="https://github.com/igraph/rigraph">
                GitHub.</a> Please note that igraph can contain only
          code that is compatible with its GPL license. See
    <a href="https://github.com/igraph/rigraph/blob/dev/CONTRIBUTING.md">
      our guide</a> on contributions to the igraph R package at GitHub.
        </p>

      </div>
    </div>
  </div>

</div>
